
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p class="lead">Somebody</p>
            <h1 clase="display-4">is the WINNER</h1>

        </div>
    </div>