@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row mt-2">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <figure class="figure player-name">
                            <img src="~/images/playerplaceholder copy.jpg" class="img-fluid rounded d-inline" alt="Player image">
                            <figcaption class="figure-caption font-weight-bold text-center">THING 1</figcaption>
                        </figure>
                       
                    </div>
                    <div class="col">
                        <h1 class="score d-inline">0</h1>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5 class="text-center">Turns left: 10</h5>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="score float-right d-inline">0</h1>
                       
                    </div>
                    <div class="col">
                        <figure class="figure player-name">
                            <img src="~/images/playerplaceholder copy.jpg" class="img-fluid rounded d-inline" alt="Player image">
                            <figcaption class="figure-caption font-weight-bold text-center">THING 2</figcaption>
                        </figure>
                    </div>
                </div>
            </div>

        </div>
                
            
        <div class="row mt-3">
            <div class="col"><a asp-controller="Home" asp-action="GetRandomAction"><img src="~/images/ActionButton.jpg" class="img-fluid rounded" alt="Action card"></a></div>
            <div class="col"><a asp-controller="Home" asp-action="GetRandomPlace"><img src="~/images/PlaceButton.jpg" class="img-fluid rounded" alt="Place card"></a></div>
            <div class="col"><a asp-controller="Home" asp-action="GetRandomChallenge"><img src="~/images/ChallengeButton.jpg" class="img-fluid rounded" alt="Challenge card"></a></div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <div class="card overflow-hidden text-center">
                    <img src="~/images/CardBorder.png" class="img-fluid rounded" alt="Action card flipped border" />
                    <div class="card-img-overlay d-flex flex-column justify-content-center"><p>@ViewData["RandomAction"]</p></div>
                </div>
            </div>
            <div class="col">
                <div class="card overflow-hidden text-center">
                    <img src="~/images/CardBorder.png" class="img-fluid rounded" alt="Action card flipped border" />
                    <div class="card-img-overlay d-flex flex-column justify-content-center"><p>@ViewData["RandomPlace"]</p></div>
                </div>
            </div>
            <div class="col">
                <div class="card overflow-hidden text-center">
                    <img src="~/images/CardBorder.png" class="img-fluid rounded" alt="Action card flipped border" />
                    <div class="card-img-overlay d-flex flex-column justify-content-center"><p>@ViewData["RandomChallenge"]</p></div>
                </div>
            </div>

        </div>
    </div>