@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">       
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
    </li> 
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="#" asp-controller="EditGame" asp-action="EditGame"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-address-book fa-2x" aria-hidden="true"></i></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
    </li>
}

