
@{
    ViewData["Title"] = "Edit Game";
}

<div class="container">
    <div class="row">
        <div class="col"><div class="col"><img src="~/images/AddActionButton.png" class="img-fluid rounded" alt="Add Action button"></div></div>
        <div class="col"><div class="col"><img src="~/images/AddPlaceButton.png" class="img-fluid rounded" alt="Add Place button"></div></div>
        <div class="col"><div class="col"><img src="~/images/AddChallengeButton.png" class="img-fluid rounded" alt="Add Challenge button"></div></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>