

@{
    ViewData["Title"] = "Edit Game";
}

<div class="container">
    <div class="row">
        <div class="col"><a asp-controller="ActionItems" asp-action="Create"><img src="~/images/AddActionButton.png" class="img-fluid rounded" alt="Add Action button"></a></div>
        <div class="col"><a asp-controller="PlaceItems" asp-action="Create"><img src="~/images/AddPlaceButton.png" class="img-fluid rounded" alt="Add Place button"></a></div>
        <div class="col"><a asp-controller="ChallengeItems" asp-action="Create"><img src="~/images/AddChallengeButton.png" class="img-fluid rounded" alt="Add Challenge button"></a></div>
    </div>
    <div class="row">
        <div class="col">
            @await Html.PartialAsync("/Views/ActionItems/_ActionList.cshtml")
        </div>
        <div class="col">
            @await Html.PartialAsync("/Views/PlaceItems/_PlaceList.cshtml")
        </div>
        <div class="col">
            @await Html.PartialAsync("/Views/ChallengeItems/_ChallengeList.cshtml")
        </div>
    </div>
</div>